@import "tailwindcss";

:root {
  --ap-red: #D71A21;
  --ap-bg: #a88784;
  --ap-text: #231F20;
  --ap-gray: #CFC4C2;
}

@theme inline {
  --color-background: var(--ap-bg);
  --color-foreground: var(--ap-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--ap-bg);
  color: var(--ap-text);
  font-family: Arial, Helvetica, sans-serif;
}